
$color-pramiry:gray;
@mixin setupdisplay(){
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenner{
    height: 100vh;
    width: 100%;
    @include setupdisplay();
}
.chessboard {
    // display: grid;
    // grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(8, 1fr);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    box-sizing: border-box;
  .box{
    @include setupdisplay();
    border: 1px solid gray;
    color: transparent;

  }
  .mau{
    background-color: $color-pramiry;
}
}
